<header class="jumbotron">
  <h1> Welcome to {{ title }} </h1>
  <h6> Present your work to the community </h6>
</header>

<div class="container">

  <div class="row">
    <div class="col-8"></div>
    <div class="col-4">
      <pw-projects-counter></pw-projects-counter>
    </div>
  </div>

  <pw-main-menu></pw-main-menu>

  <main style="padding: 10px">

    <router-outlet></router-outlet>
    <!--<ng-container [ngSwitch]="chosenSite">
      <ng-container *ngSwitchCase="'projects'">
        <pw-projects-site></pw-projects-site>
      </ng-container>
      <ng-container *ngSwitchCase="'top-ten'">
        <pw-top10-site></pw-top10-site>
      </ng-container>
      <ng-container *ngSwitchCase="'blogs'">
        <pw-blogs-site></pw-blogs-site>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <span>404 !</span>
      </ng-container>
    </ng-container>-->



  </main>
</div>

