<header class="jumbotron">
  <h1> {{ title }} </h1>
  <h6> Present your work to the community </h6>
</header>

<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">PW</a>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Top 10</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Technical Blog</a>
        </li>
      </ul>
    </div>
  </nav>

  <i class="fa fa-search"></i>

  <main style="padding: 10px">

    <pw-projects-site></pw-projects-site>

  </main>
</div>

